@{
    ViewData["Title"] = "Home Page";
}


<section class="one">
    <div class="boxcard">
        <div class="boxcard">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 classcard">
                        <div class="icon1">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class=" text">
                            <h1>Showcase Your App</h1>
                            <p>Showcase your app in style with this professional looking template.</p>
                        </div>
                    </div>
                    <div class="col-md-4 classcard">
                        <div class=" icon1">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class="text">
                            <h1>Showcase Your App</h1>
                            <p>Showcase your app in style with this professional looking template.</p>
                        </div>
                    </div>
                    <div class="col-md-4 classcard">
                        <div class=" icon1">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class=" text">
                            <h1>Showcase Your App</h1>
                            <p>Showcase your app in style with this professional looking template.</p>
                        </div>
                    </div>
                    <div class="col-md-4 classcard">
                        <div class="icon1">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class=" text">
                            <h1>Showcase Your App</h1>
                            <p>Showcase your app in style with this professional looking template.</p>
                        </div>
                    </div>
                    <div class="col-md-4 classcard">
                        <div class=" icon1">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class=" text">
                            <h1>Showcase Your App</h1>
                            <p>Showcase your app in style with this professional looking template.</p>
                        </div>
                    </div>
                    <div class="col-md-4 classcard">
                        <div class="icon1">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class="text">
                            <h1>Showcase Your App</h1>
                            <p>Showcase your app in style with this professional looking template.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="twe">
    <div class="boxcard-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 cardimg">
                    <img src="assets/img/2-ci.jpg" alt="">
                </div>
                <div class="col-md-6 textcard">
                    <h1>What is Awesome App?</h1>
                    <p>Add a brief story about your app here, what purpose your app solves and why you think your user would want to have it on their device.</p><br><br>
                    <p>Re-establish the main use case of your app by listing them below. Make sure to place a relavent screenshot on the left.</p>
                    <i class="fa-solid fa-pen"></i><span>Amazing Design to Present Your App</span><br>
                    <i class="fa-solid fa-pen"></i><span>Amazing Design to Present Your App</span><br>
                    <i class="fa-solid fa-pen"></i><span>Amazing Design to Present Your App</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider">
    <div class="boxsider">
        <div class="container">
            <div class="row">
                <h1>Take a look at our screenshots</h1><br><br><br>
                <p>
                    Add your app screenshots below. Make sure to make them lively by putting them inside real device mockups <br>
                    Replace this text to describe the screenshots of your app.
                </p><br><br>
                <div class="classwiper"></div><br><br>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="assets/img/33.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/sfsf.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/4.jpg" alt=""></div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="cardss">
    <div class="boxscards">
        <div class="container">
            <div class="row">
                <h1>We've got the perfect package for you</h1><br><br>
                <p>A section to display your pricing structure. Make sure to highlight your most popular plan like shown below</p>
                <p>Replace this text to describe your pricing plan.</p>
                <div class="col-md-3 card4">
                    <div class="class2">
                        <h1>Basic</h1><hr>
                        <h2>$12.0/m</h2><hr>
                        <p>One User</p><hr>
                        <p>Multiple Access</p><hr>
                        <p>SMS Support</p><hr>
                        <p>24/7 Online Support</p><br><br>
                        <h6>Start Free Trial</h6><hr>
                        <button>Buy Now</button>
                    </div>
                </div>
                <div class="col-md-3 card4">
                    <div class="class2">
                        <h1>Basic</h1><hr>
                        <h2>$12.0/m</h2><hr>
                        <p>One User</p><hr>
                        <p>Multiple Access</p><hr>
                        <p>SMS Support</p><hr>
                        <p>24/7 Online Support</p><br><br>
                        <h6>Start Free Trial</h6><hr>
                        <button>Buy Now</button>
                    </div>
                </div>
                <div class="col-md-3 card4">
                    <div class="class2">
                        <h1>Basic</h1><hr>
                        <h2>$12.0/m</h2><hr>
                        <p>One User</p><hr>
                        <p>Multiple Access</p><hr>
                        <p>SMS Support</p><hr>
                        <p>24/7 Online Support</p><br><br>
                        <h6>Start Free Trial</h6><hr>
                        <button>Buy Now</button>
                    </div>
                </div>
                <div class="col-md-3 card4">
                    <div class="class2">
                        <h1>Basic</h1><hr>
                        <h2>$12.0/m</h2><hr>
                        <p>One User</p><hr>
                        <p>Multiple Access</p><hr>
                        <p>SMS Support</p><hr>
                        <p>24/7 Online Support</p><br><br>
                        <h6>Start Free Trial</h6><hr>
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Cardthree">
    <div class="cardboxsthre">
        <div class="container">
            <div class="row">
                <div class="classtexttt">
                    <h1>What our customers are saying</h1>
                    <p>Real user testimonials are great way to attract new customers and increase their trust into using your app.</p>
                    <p>Replace the testimonials below with the ones for your own app.</p><br><br><br>
                </div>
                <div class="col-md-4 clascard3">
                    <p>Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>
                    <div class="class233">
                        <div class="classimg3">
                            <img src="assets/img/user1.jpg" alt="">
                        </div>
                        <div class="classimg3text">
                            <h1>
                                Patrick Harry
                            </h1>
                            <p>
                                Patrick Harry
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clascard3">
                    <p>Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>
                    <div class="class233">
                        <div class="classimg3">
                            <img src="assets/img/user2.jpg" alt="">
                        </div>
                        <div class="classimg3text">
                            <h1>
                                Patrick Harry
                            </h1>
                            <p>
                                Patrick Harry
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clascard3">
                    <p>Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>
                    <div class="class233">
                        <div class="classimg3">
                            <img src="assets/img/user3.jpg" alt="">
                        </div>
                        <div class="classimg3text">
                            <h1>
                                Patrick Harry
                            </h1>
                            <p>
                                Patrick Harry
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
